<% @title="Poet Book Upload" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" role="navigation">
        <%= render partial: 'books/my_books_navigation' %>
    </div>
    <div class="col-md-10 upload-book">
			<h1>Poet Book Upload </h1>
			<%= form_tag("/upload_book/submit", {:multipart => true}) do %>
			<p>
			To add image descriptions to a DAISY or EPUB book, follow these steps:
			</p>
			<div class="well">
				<ol start="1">
					<li>
						<legend>Select Book File</legend>
						<label for="book">Select a DAISY book (zip) or EPUB book (epub).</label>
						<p><%= file_field_tag 'book' %></p>
					</li>
				</ol>
			</div>
			<div class="well">
				<ol start="2">
					<li>
						<legend>Choose Math Image Type</legend>
						<p>
							For files containing math images, please select whether you want to keep the math as image files or replace them with MathML code. If images are replaced, existing alt descriptions will also be replaced.
							<a data-toggle="collapse" id="learnMore" href="#collapseMathMore" aria-expanded="false" aria-controls="collapseMathMore">Learn More</a>
						</p>
						<p id="collapseMathMore" class="collapse">
							Mathematical Markup Language (MathML) is a markup language for describing mathematical notations and capturing both its structure and content. While best practice is to use MathML, not all browsers and reading systems currently support the rendering of math code.
						</p>
						<p>
							<label class="radio-inline">
								<input type="radio" name="math_replacement_mode" value="MathML" <%= (can? :edit_book_content, @all) ? "checked" : "disabled" %>/>
								Replace images with MathML
							</label>
							<label class="radio-inline">
								<input type="radio" name="math_replacement_mode" value="" <%= (!can? :edit_book_content, @all) ? "checked" : "" %>/>
								Keep math as images
							</label>
						</p>
					</li>
				</ol>
			</div>
			<div class="well">
				<ol start="3">
					<li>
						<legend>Click the Upload button</legend>
						<p>
							After the process completes, you will need to remember the code displayed and follow the instructions.
						</p>
						<p><%= submit_tag "Upload", :class => "btn btn-primary" %></p>
					</li>
				</ol>
			</div>
			
			<% end %>
		</div>
	</div>
</div>
<script type="text/javascript">
  $("#learnMore").on("click", function(e) {
  	$(this).hide();
  });
</script>