<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title ? @title + " - " : "" %>Poet Image Description Tool</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "non-responsive.css" %>
  <%= stylesheet_link_tag "poet2.css" %>
  <%= stylesheet_link_tag "training.css" %>
  <link rel="stylesheet" type="text/css" href="/javascripts/libs/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
  <!-- CSS -->
  <link rel="stylesheet" href="/javascripts/libs/zoomer/assets/prettyLoader/css/prettyLoader.css" type="text/css" media="all">
  <link rel="stylesheet" href="/javascripts/libs/zoomer/assets/prettyPhoto/css/prettyPhoto.css" type="text/css" media="all">
  <link rel="stylesheet" href="/javascripts/libs/zoomer/css/styles.css" type="text/css" media="all">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        jax: ["input/AsciiMath", "input/MathML", "input/TeX", "output/SVG", "output/NativeMML"],
        extensions: ["asciimath2jax.js", "tex2jax.js", "MathMenu.js", "MathZoom.js", "toMathML.js"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        }
      });
  </script>
  <%= javascript_include_tag 'jquery.min.js' %>

  <%= csrf_meta_tag %>
  <% if ENV['POET_HOST'] == 'diagram-center.herokuapp.com' %>
    <%= raw render_ga('UA-36104449-1') %>
  <% elsif ENV['POET_HOST'] == 'diagram.herokuapp.com' %>
    <%= raw render_ga('UA-36099695-1') %>
  <% end %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
	<!-- Part 1: Wrap all page content here -->
    <div id="wrap">
      <!-- Static navbar -->
      <div class="navbar navbar-inverse navbar-static-top" role="navigation" id="header">
        <div class="fluid-container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" title="Poet, version <%= t(:version)%>, home page" href="/">Poet Image Description</a>
          </div>
          <div class="navbar-collapse collapse">
          	<% if can? :view_admin, @all %>
             <%= form_for :search, :url => dynamic_descriptions_search_path, :html => { :class => 'navbar-form navbar-left', 
             	:method => :get } do |f|%>
                <div class="input-group input-group-sm">
                  <%= f.label :term,  'Search:', options={:class=>"sr-only"}  %>
                  <%= f.text_field :term, options={:class=> "form-control ", :placeholder=>"Search Image Descriptions"} %>
                  <span class="input-group-btn">
                    <%= f.submit "Go", options={:class=> "btn btn-default"} %>
                  </span>
                </div>
             <% end %>
           <% end %>
            <ul class="nav navbar-nav navbar-left">
              
	          <% if can? :view_admin, @all %>
	             <li><%= link_to "Books", admin_books_path %> </li>
	          <% else %>
	             <%#= link_to "Books", book_list_path %> &nbsp;
	          <% end %>
	          <li><%= link_to "Training", training_index_path %> </li>
	          <li><%= link_to "Help", edit_book_help_path %> </li>
	          <% if current_user %>
	             <li><%= link_to 'User Profile', edit_user_path(current_user) %> </li>
	          <% end %>
	          <% if current_user %>
	             <li><%= link_to 'My Books', book_list_by_user_path %> </li>
	          <% end %>
	          <% if can? :view_admin, @all %> 
	             <li><%= link_to "Admin", admin_root_path %> </li>
	          <% end %>
	          <% if user_signed_in? %>
	            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	          <% else %>
	            <li><%= link_to 'Register', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
	          <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div class="fluid-container">
        <%= render "shared/error_display" %>
        <%= yield %>
      </div> <!-- /container -->
      <div class="clear"></div>
      <div id="push"></div>
    </div><!-- /wrap -->

    <div id="footer" class="fluid-container">
          <p>
           <strong>Legal Disclaimer</strong>: The Poet tool is intended to assist in the creation of accessible content. Use of the Poet tool is limited to activities for creating content that comply with applicable copyright law and contractual agreement. By using this tool, you accept all provisions contained in the <a href="/user/terms_of_service" target="_blank">Terms of Use</a>. If you do not wish to be bound by the provisions contained in the Terms of Use, do not use the Poet tool.
          </p>
          <p>Copyright &copy; 2012 <a href="http://www.benetech.org">Benetech</a>.</p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/libs/bootstrap.min.js"></script>
   </body>    
  
</html>

 